.list{
    background-color: #3A194D;
    width:70vw;
    height:60vh;
    margin-top:30px;
    border-radius: 30px;
    box-shadow: 5px 1px 1px rgba(0, 0, 0, 0.073);
    padding: 30px 0px 30px 30px;
}
.list-item-title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top:10px;
}
.hr{
    border: rgb(81, 0, 151) 0.2px solid;
    margin-right:30px
}
.select{
    margin: 30px 0px 0px 30px;
}

